+b.SECTION.video-row.row
    +e.container_title.container
        h3 Видео от клиентов
    +e.container_items.container
        +video-item('video-1.jpg', 'Anzhee H150-BEAM / 2:00')
        +video-item('video-2.jpg', 'Anzhee H150-BEAM / 2:00')
        +video-item('video-3.jpg', 'Anzhee H150-BEAM / 2:00')
        +video-item('video-4.jpg', 'Anzhee H150-BEAM / 2:00')
    +e.container_more.container
        +e.A(href="#").btn.btn_bordered Больше видео