+b.SECTION.catalog-row.row
    +e.container_title.container
        +e.H6.title Акустические системы
    
    +e.container_filters.container
    
    +e.container_catalog-result-qty.container
        p Показано 15 из 200 товаров
    +e.container_products.container
        +product-loop('/images/prod-loop-photo.jpg', 'DMX-кабель Roxtone DMX001', 'DMX-кабель. Бухта 100м.', 865)
        +product-loop('/images/prod-loop-photo.jpg', 'DMX-кабель Roxtone DMX001', 'DMX-кабель. Бухта 100м.', 865)
        +product-loop('/images/prod-loop-photo.jpg', 'DMX-кабель Roxtone DMX001', 'DMX-кабель. Бухта 100м.', 865)
        +product-loop('/images/prod-loop-photo.jpg', 'DMX-кабель Roxtone DMX001', 'DMX-кабель. Бухта 100м.', 865)
        
        // +product-loop(img, name, desc, price) 
    
