.index-advantages {
    padding-top: 80px;
    padding-bottom: 90px;
    height: 23vw;
    mask-image: url('../img/mask-b-1.svg');
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-image: url('../img/mask-b-1.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    
    
    background-color: $colorGrey;
    &__container {
        padding-left: 0;
        padding-right: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }
    
}

.advantage {
    width: 190px;
    &_contract{
        width: 210px;
    }
    &_star{
        width: 155px;
    }
    &_shipped{
        
    }
    &_library{}
    
    
    &__icon {
        width: 100%;
        height: 60px;
        background-color: $colorBlue-2;
        mask-position: center;
        
        &_contract{
            @include mask-image('../img/contract.svg');
        }
        &_star{
            @include mask-image('../img/star.svg');
        }
        &_shipped{
            height: 50px;
            margin-top: 10px;
            @include mask-image('../img/shipped.svg');
        }
        &_library{
            @include mask-image('../img/library.svg');
        }
    }
    
    &__text {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        &_contract{
        }
        &_star{
        }
        &_shipped{}
        &_library{}
    }
}