.logo-link {
    margin-right: auto;
    max-width: 225px;
    &:hover {}
    &__logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    &_in-footer{
        margin-right: 40px;
    }

}

.email-link {
    @include flex-with-icon;
    @include header-link;
    @include f-arial;
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: 600;
    span {}
}

.phone-link {
    @include flex-with-icon;
    @include header-link;
    @include f-arial;
    margin-right: 23px;
    text-transform: uppercase;
    font-weight: 600;
    &_in-footer{
        margin-right: 25px;
    }
}

.call-btn {
    text-transform: uppercase;
    margin-right: 5px;
    span {}
}

.links {
    &_in-footer {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        margin-right: auto;
    }
    &__link {
        &_1 {}
        &_2 {}
        &:hover {}
    }
}
