.callback-form {
    .input-wrpr{
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        &_submit{
            text-align: center;
            margin-top: 20px;
        }
    }
}
