.c-delivery {
    position: relative;
    
    &__bg{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: url('../img/delivery-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include mask-image('../img/mask-b-2.svg');
        mask-size: cover;
    }
    
    &__container {
        position: relative;
        z-index: 2;
        color: white;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        padding: 155px 15px 135px 260px;
    }
    &__img-wrpr {
        position: absolute;
        left: 55px;
        top: 25px;
        z-index: 1;
        margin-right: 20px;
    }
    &__img {}
    &__info-wrpr {
        text-align: right;
        position: relative;
        z-index: 2;
        margin-right: 25px;
    }
    &__title {
        text-transform: uppercase;
    }
    &__sub-title {}
    &__more {}
    &__link {
        padding-left: 2.75em;
        padding-right: 2.75em;
        margin-bottom: 5px;
    }
}