.form-horizontal{
    &__form, form{
        @include d-flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.input-wrpr{
    &_agree{
        font-size: 0.8em;
        max-width: 180px;
        label{
            @include d-flex;
            align-items: center;
        }
        .checkbox-view{
            margin-right: 10px;
        }
    }
}

.wpcf7-response-output{
    border: none !important;
    padding: 0 !important;
    margin: 1em 0em 0em !important;
    font-size: 0.8em;
}