.nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    
    &__container {
        height: 40px;
    }
    
    &-list {
        width: 100%;
        height: 100%;
        list-style: none;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        position: relative;
        z-index: 2;
        
        &__item {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 3;
        }

        &__item_active{}
        &__item_marker{
            height: 47px;
            border-radius: 0 0 25px 25px;
            position: absolute;
            z-index: 1;
            background-color: $colorBlue;
        }

        &__link {
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;
            &:hover{
            }
        }
    }
    
    
}