.categories {
  padding-top: 58px;
  &__title {
    text-align: center;
  }
  &__container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
//    justify-content: space-between;
      justify-content: center;
    padding-top: 15px;
      padding-left: 0;
      padding-right: 0;
  }
}

.category-item {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 280px 0 0;
  text-decoration: none;
  color: inherit;
  transition: 400ms ease-in-out;
    margin: 3px;
  &:hover {
    color: $colorBlue;
    .category-item {
      &__photo {
        transform: scale(1.15) rotate(10deg);
      }
    }
    .category-item__corners {
      .top.left {
      }
    }
  }
  &.hover {}
  &__photo-wrpr {
    width: 100%;
    height: 210px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
      overflow: hidden;
  }
  &__photo {
    display: block;
    transition: 400ms ease-in-out;
      max-width: 100%;
      max-height: 100%;
  }
  &__name {
    text-align: center;
    text-transform: uppercase;
    padding: 30px 30px;
  }
}

.catalog-row {
  padding-bottom: 35px;
  &__container_title {
    line-height: 1em;
    padding-top: 27px;
    padding-bottom: 20px;
  }
  &__title {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__container_filters {
    margin-top: 5px;
    height: 50px;
  }
  &__container__catalog-result-qty {
    color: $colorGrey-2;
    font-size: 1.12em;
    margin-top: 35px;
  }
  &__container_products {
    @include d-flex;
//    justify-content: space-between;
      justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
      padding-left: 0;
      padding-right: 0;
      
  }
}

.product-loop {
  @include d-flex;
  flex-direction: column;
  width: 265px;
  height: auto;
  border: solid 1px $colorProdBorder;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 20px;
    margin: 20px 10px 20px 10px;
    position: relative;
    overflow: hidden;
    &__loader{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255,255,255,0.75);
        opacity: 0;
        visibility: hidden;
        &:before{
            content: '';
            display: block;
            position: absolute;
            z-index: 11;
            width: 60px;
            height: 60px;
            background: url('../img/loader.png') no-repeat;
            background-size: contain;
            top: calc( 50% - 30px );
            left: calc( 50% - 30px );
            opacity: 0.8;
            animation-name: spin;
            animation-duration: 3000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
    &__added{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255,255,255,0.85);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: 350ms;
        
        &-title{
            line-height: 1em;
            font-size: 1.5em;    
            opacity: 0;
            transform: translateY( 100% );
            transition: 500ms;
        }
    }
    &_adding{
        .product-loop__loader{
            opacity: 1;
            visibility: visible;
            transition: 350ms;
        }
    }
    &_added{
        .product-loop__added{
            opacity: 1;
            visibility: visible;
            &-title{
                opacity: 1;
                transform: translateY( 0 );
            }
        }
    }
  &__image-wrpr {
    text-decoration: none;
    width: 100%;
    height: 265px;
    border-bottom: solid 1px $colorProdBorder;
    @include d-flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 10px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  &__name {
    font-size: 1.12em;
    margin-top: 19px;
    padding: 0 20px;
    line-height: 1em;
    font-weight: 200;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  &__description {
    font-size: 0.75em;
    margin-top: 10px;
    line-height: 1em;
    color: #939597;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  &__price {
    margin-top: 10px;
    font-size: 1.12em;
    line-height: 1em;
    font-weight: 200;
    span {
      display: inline-block;
      &:last-child {
        margin-left: 0.2em;
      }
    }
  }
  &__add-to-cart-wrpr {
    @include d-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-top: 15px;
  }
  .add-to-cart {
    text-decoration: none;
    color: inherit;
    font-size: 1.06em;
    &:hover {}
  }
}

.product-main-info {
  padding-top: 40px;
  &__container {
    @include d-flex;
    flex-wrap: wrap;
  }
  &__photo-big {
    width: 100%;
    max-width: 560px;
    height: 480px;
    border: solid 1px $colorProdBorder;
    margin-right: 80px;
    flex-shrink: 0;
      overflow: hidden;
      position: relative;
  }
  &__info {
    @include d-flex;
    flex-direction: column;
    flex-grow: 1;
      max-width: 480px;
      *{
          max-width: 100%;
      }
  }
  &__name {
    margin-top: 63px;
  }
  &__article {
    font-size: 0.87em;
    margin-top: 3px;
    font-weight: 200;
  }
  &__description {
    margin-top: 12px;
    font-weight: 200;
  }
  &__price-and-add {
    @include d-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    max-width: 380px;
  }
  &__price {}
  &__add-to-cart-wrpr {}
  &__actions {
    @include d-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 5px;
  }
}

.product-photo-slider {
//  width: 100%;
//  height: 100%;
  &__item {
        width: 100%;
        max-width: 560px;
        height: 480px;
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
    
    .owl-item{
        float: left;    
    }
    .owl-nav{
        a{
            width: 45px;
            background-color: rgba(0,0,0, 0.03);
        }
    }
}

.product-thumbs {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    width: 390px;
    
    &__slider{
        max-width: none;
        
        &:not(.owl-loaded){
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
  &__item {
    min-width: 90px;
    max-width: 90px;
    height: 90px;
    border: solid 1px $colorProdBorder;
    margin-right: 10px;
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
    
    
    .owl-item{
        float: left;    
    }
}


.owl-nav{
    a, button{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        text-decoration: none;
        height: 100%;
        width: 35px;
        top: 0;
        background-color: rgba(0,0,0, 0.4);
        z-index: 20;
        cursor: pointer;
    }
    i{
        display: block;
        width: 20px;
        height: 30px;

//        background-image: url('../img/slider-arrow.svg');
//        background-repeat: no-repeat;
//        background-size: contain;
//        background-position: center;
        
        mask-image: url('../img/slider-arrow.svg');
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
        
        background-color: #fff;
        &.owl-arrow_inverse{
            background-color: #000;
        }
        &.owl-arrow_prev{
            transform: rotate(180deg);
        }
    }
    
    
    .owl-prev{
        left: 0;
    }
    .owl-next{
        right: 0;
    }
}


.price {
  &__title {
    display: inline-block;
    margin-right: 0.3em;
  }
  &__value {
    font-size: 1.5em;
    &_in-product-page {
      font-weight: 600;
    }
  }
}

.qty-control {
  @include d-flex;
  align-items: center;
  justify-content: flex-start;
  &__decrement {
    @include d-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: rgba(214, 214, 214, 1);
    border: solid 1px currentColor;
    border-radius: 17px 0 0 17px;
    border-right: none;
    text-decoration: none;
    font-size: 1.37em;
    line-height: 1em;
    padding-left: 10px;
    padding-bottom: 5px;
    &:hover {}
    &_type-2 {
      @include d-flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      color: white;
      border-radius: 50%;
      text-decoration: none;
      background-color: $colorBlue;
      font-size: 1.81em;
      margin-right: -9px;
      padding-left: 0;
      line-height: 1em;
      padding-bottom: 5px;
      &:hover {}
    }
  }
  &__input {
    width: 43px;
    height: 35px;
    color: #212121;
    border: solid 1px rgba(214, 214, 214, 1);
    border-right: none;
    border-left: none;
    background-color: transparent;
    text-align: center;
    padding-right: 9px;
    //        font-size: 1.37em;
    &_type-2{
      padding-right: 0;
      text-align: center;
      width: 55px;
    }
  }
  &__increment {
    @include d-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    background-color: $colorBlue;
    font-size: 1.81em;
    margin-left: -9px;
    line-height: 1em;
    padding-bottom: 5px;
    &:hover {}
  }
  &_type-2 {}
}
