$colorBlue: rgba(0, 183, 244, 1);
$colorBlue-2: rgba(2, 86, 255, 1);
$textColor: rgba(38, 38, 38, 1);
$bcTextColor: rgba(137, 137, 137, 1);
$colorGrey: rgba(242, 242, 242, 1);
$colorGrey-2: rgba(176, 176, 176, 1);
$colorProdBorder: rgba(232, 232, 232, 1);
