+b.SECTION.c-purchase.row
    +e.container.container
        +e.info-wrpr
            +e.H2.title.f-code МЫ УЧАСТВУЕМ В ГОС. ЗАКУПКАХ
            +e.H5.sub-title.f-code И РАБОТАЕМ ПО 44-ФЗ
            +e.A(href="#").link.btn_white ПОДРОБНЕЕ

        +e.img-wrpr
            +e.IMG(src="/images/purchase-img.png").img