+b.breadcrumbs-row.row
    +b.breadcrumbs-search-container.container
        +b.breadcrumbs-wrpr
            +b.UL.breadcrumbs
                +breadcrumb-item("Главная")
                +breadcrumb-item("Видео")
        