+b.SECTION.c-delivery.row
    +e.container.container
        +e.img-wrpr
            +e.IMG(src="/images/delivery-img.png").img
            
        +e.info-wrpr
            +e.H2.title Бесплатная доставка
            +e.H4.sub-title при заказе от 30.000 Р
        +e.more
            +e.A(href="#").link.btn_bordered ПОДРОБНЕЕ

        