+b.SECTION.c-consulting.row
    +e.container_titles.container
        +e.H2.title_1.f-code НУЖНА КОНСУЛЬТАЦИЯ?
        +e.H6.title_2 ОСТАВЬТЕ ВАШИ КОНТАКТЫ И МЫ ПЕРЕЗВОНИМ В ТЕЧЕНИЕ 24 ЧАСОВ

    +e.container_form.container
        +b.form-horizontal
            +e.FORM.form    
                +text-input('name _text _i-white _cons-1 _wide', 'Ваше имя')
                +text-input('phone _text _i-white _cons-2 _wide', 'Ваш телефон')
                +submit-input('hor', 'отправить')
                +agree-check('', 'Я согласен с политикой конфиденциальности')