+b.SECTION.c-consulting.row
    +e.container_titles.container
        +e.H2.title_1 НУЖНА КОНСУЛЬТАЦИЯ?
        +e.H4.title_2 ОСТАВЬТЕ ВАШИ КОНТАКТЫ И МЫ ПЕРЕЗВОНИМ В ТЕЧЕНИЕ 24 ЧАСОВ

    +e.container_form.container
        +b.form-horizontal
            +e.FORM.form    
                +text-input('name', 'Ваше имя')
                +text-input('phone', 'Ваш телефон')
                +submit-input('hor', 'отправить')
                +agree-check('', 'Я согласен с политикой конфиденциальности')