+b.breadcrumbs-row.row
    +b.breadcrumbs-search-container.container
        +b.breadcrumbs-wrpr
            +b.UL.breadcrumbs
                +breadcrumb-item("Главная")
                +breadcrumb-item("Каталог")
                +breadcrumb-item("Звуковое оборудование")
                +breadcrumb-item("Акустические системы")
                
        +b.searchbar-wrpr
            include ../../blocks/b-searchbar/index.pug