+b.SECTION.index-advantages.row
    +e.container.container
        +advantage-item('Только сертифицированное <br>оборудование с гарантией', 'contract')
        +advantage-item('Двойной контроль <br>качества приборов', 'star')
        +advantage-item('Бесплатная доставка <br>при покупке от 30 000 руб',  'shipped')
        +advantage-item('Работаем с бюджетными <br>учреждениями по 44-ФЗ',  'library')