doctype html
include parts/_mixins.pug
html(lang='RU-ru')
    +head('Корзина')
    
    body
        
        include parts/_header.pug
        include parts/_nav.pug
        
        include components/c-cart/index.pug
        
        include components/c-consulting/index.pug
        include parts/_footer.pug
        
        