doctype html
include parts/_mixins.pug
html(lang='RU-ru')
    +head('Каталог')
    
    body
        
        include parts/_header.pug
        include parts/_nav.pug
        include components/с-breadcrumbs_catalog/index.pug
        include components/с-catalog-page/index.pug
        
        
        
        include components/c-consulting/index.pug
        include parts/_footer.pug
