doctype html
include parts/_mixins.pug
html(lang='RU-ru')
    +head('Главная')
    
    body
        
        include parts/_header.pug
        include parts/_nav.pug
        
        include components/index-slider/index.pug
        include components/categories-list/index.pug
        
        
        
        
        include parts/_footer.pug
        
        
        script.
            jQuery(function($) {});
