doctype html
include parts/_mixins.pug
html(lang='RU-ru')
    +head('Главная')
    
    body
        
        include parts/_header.pug
        include parts/_nav.pug
        
        include components/index-slider/index.pug
        include components/categories-list/index.pug
        include components/index-advantages/index.pug
        
        - var modifier = '_in-index'
        - var show_more_btn = true
        include components/index-videos/index.pug
        
        include components/c-delivery/index
        include components/c-purchase/index
        include components/c-consulting/index
        
        
        include components/c-call-form/index
        
        include parts/_footer.pug
        
        
        script.
            jQuery(function($) {});
  
