+b.SECTION.c-index-slider.row
    +b.b-index-slide_item-1
        +e.IMG(src="/images/components/slider/slide-1-bg.jpg").bg
        +e.container
            +e.text
                +e.title.f-code
                    p СВЕТОВОЕ ОБОРУДОВАНИЕ #[br]танцевальных ПЛОЩАДОК
                +e.decription
                    p Наши специалисты выполнят разработку проекта и монтаж освещения #[br]сцены с применением современного осветительного оборудования.
            +e.photo-wrpr
                +e.IMG(src="/images/components/slider/slide-1-photo.png").photo
                
            
