+b.SECTION.product-tabs.parent-tabs.row
    +e.row_headers.row
        +e.container.container_headers
            +b.UL.tab-headers
                +e.LI.item
                    +e.A(href='#').link СПЕЦИФИКАЦИЯ
                +e.LI.item
                    +e.A(href='#').link СХЕМА
                +e.LI.item
                    +e.A(href='#').link СВЕТ
                +e.LI.item
                    +e.A(href='#').link РАССЕИВАНИЕ
                +e.LI.item
                    +e.A(href='#').link КАНАЛЫ
                +e.LI.item
                    +e.A(href='#').link ВИДЕО
    
    +e.row_contents.row
        +e.container.container_contents
            +b.UL.tab-content
                +e.LI.item
                +e.LI.item
                +e.LI.item
                +e.LI.item
                +e.LI.item
                +e.LI.item

        
                
    





