+b.FOOTER.footer.row
    +e.container.container
        +b.A(href="/").logo-link_in-footer
            +e.IMG(src="/images/logo-2.png").logo
            
        +b.links_in-footer
            +e.A(href="#").link_1 Политика конфиденциальности
            +e.A(href="#").link_2 Публичная оферта
        
        +b.A(href="#").email-link_in-footer
            i.envelope
            span info@showlee-light.ru
        +b.A(href="#").phone-link_in-footer
            i.phone
            span 8 (4212) 644-622
        


script(src='assets/libs/underscore/underscore-min.js')
script(src='assets/libs/jquery/jquery-3.3.1.min.js')
script(src='assets/libs/owlcarousel-2.3.4/owl.carousel.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/jquery.gsap.min.js')







//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/ScrollToPlugin.min.js')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/PixiPlugin.min.js' )
//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/ColorPropsPlugin.min.js' )
//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSRulePlugin.min.js' )
//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/EaselPlugin.min.js' )
//script(src='assets/libs/mobile-detect/mobile-detect.min.js')
//script(src='assets/js/responsive.js')

script(src='assets/js/index-carousel.js?cache='+Date.now())
script(src='assets/js/main.js?cache='+Date.now())
