+b.FOOTER.footer.row
    +e.container.container
        +e.A(href="/").logo-link
            +e.IMG(src="/images/logo.png").logo
            
        +e.links
            +e.A.link_1 Политика конфиденциальности
            +e.A.link_2 Публичная оферта
        
        +e.A(href="#").email-link
            i.envelope
            span info@mail.ru
        +e.A(href="#").phone-link
            i.phone
            span 8 800 111-11-11
        


script(src='assets/libs/jquery/jquery-3.3.1.min.js')

//script(src='https://rawgit.com/peacepostman/wavify/master/jquery.wavify.js')
//script(src='https://rawgit.com/peacepostman/wavify/master/wavify.js')
//
//
//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/jquery.gsap.min.js')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/ScrollToPlugin.min.js')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/PixiPlugin.min.js' )
//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/ColorPropsPlugin.min.js' )
//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSRulePlugin.min.js' )
//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/EaselPlugin.min.js' )

//script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js' )


script(src='assets/libs/underscore/underscore-min.js')
//script(src='assets/libs/mobile-detect/mobile-detect.min.js')
//script(src='assets/js/responsive.js')




script(src='assets/js/main.js')

