+b.FOOTER.footer.row
    +e.container.container
    



script(src='assets/libs/jquery/jquery-3.3.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/jquery.gsap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/ScrollToPlugin.min.js')
script(src='assets/libs/underscore/underscore-min.js')
//script(src='assets/libs/mobile-detect/mobile-detect.min.js')
//script(src='assets/js/responsive.js')




script(src='assets/js/main.js')

