//.hamburger.hamburger--stand.js-hamburger
    .hamburger-box
    .hamburger-inner

+b.HEADER.header.row
    +e.container.container
        +b.A(href="/").logo-link_in-header
            +e.IMG(src="/images/logo.png").logo
        +b.A(href="#").email-link_in-header
            i.envelope
            span info@mail.ru
        +b.A(href="#").phone-link_in-header
            i.phone
            span 8 800 111-11-11
        +b.A(href="#").call-btn_in-header.btn_blue
            span ЗАКАЗАТЬ ЗВОНОК
        +b.A(href="#").mini-cart_in-header
            i.cart-icon
            +e.SPAN.empty мой комплект
            +e.SPAN.not-empty 
                +e.SPAN.qty (99)
                +e.SPAN.total 100 000
            
