head
    meta(charset='UTF-8')
    title!= title
    link(rel='stylesheet', href='assets/fonts/DINPro/font.css')
    link(rel='stylesheet', href='assets/fonts/CodePro/font.css')
    link(rel='stylesheet', href='assets/css/style.css?a1')
