+b.nav.row
    +e.NAV.container.container
        +b.UL.nav-list
            +nav-item( 'каталог', true , 'catalog.html')
            +nav-item( 'видео' , '', 'video.html')
            +nav-item( 'оплата и доставка' )
            +nav-item( 'гарантия' )
            +nav-item( 'бюджетным учреждениям' )
            +nav-item( 'партнерам' )
            +nav-item( 'контакты' )