+b.nav.row
    +e.NAV.container.container
        +b.UL.nav-list
            +nav-item( 'каталог', true , 'catalog.html', true)
            +nav-item( 'видео' , '', 'video.html', false)
            +nav-item( 'оплата и доставка' , '', '#', false)
            +nav-item( 'гарантия' , '', '#', false)
            +nav-item( 'бюджетным учреждениям' , '', '#', false)
            +nav-item( 'партнерам' , '', '#', false)
            +nav-item( 'контакты' , '', '#', false)
