+b.nav.row
    +e.NAV.container.container
        +b.UL.nav-list
            +e.LI.item_active
                +e.A(href="#").link каталог
            +e.LI.item
                +e.A(href="#").link видео
            +e.LI.item
                +e.A(href="#").link оплата и доставка
            +e.LI.item
                +e.A(href="#").link гарантия
            +e.LI.item
                +e.A(href="#").link бюджетным учреждениям
            +e.LI.item
                +e.A(href="#").link партнерам
            +e.LI.item
                +e.A(href="#").link контакты
//            +e.LI.item_marker