.sub-menu-wrap.sub-menu-wrap_level-1
  ul.sub-menu.sub-menu_level-1
    li#menu-item-198.sub-menu-level-2.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-has-children.menu-item-198.nav-list__item
      a.nav-list__link(href='#') &Vcy;&rcy;&acy;&shchcy;&acy;&yucy;&shchcy;&icy;&iecy;&scy;&yacy; &gcy;&ocy;&lcy;&ocy;&vcy;&ycy;
      .sub-menu-wrap.sub-menu-wrap_level-2
        ul.sub-menu.sub-menu_level-2
          li#menu-item-202.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-202.nav-list__item
            a.nav-list__link(href='#') &Scy;&vcy;&iecy;&tcy;&ocy;&dcy;&icy;&ocy;&dcy;&ncy;&ycy;&iecy; &pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ycy; Wash &icy; B-eye
          li#menu-item-201.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-201.nav-list__item
            a.nav-list__link(href='#') &Scy;&vcy;&iecy;&tcy;&ocy;&dcy;&icy;&ocy;&dcy;&ncy;&ycy;&iecy; &pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ycy; Spot &icy; Beam
          li#menu-item-199.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-199.nav-list__item
            a.nav-list__link(href='#') &Pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ycy; SPOT &icy; BEAM &ncy;&acy; &gcy;&acy;&zcy;&ocy;&rcy;&acy;&zcy;&rcy;&yacy;&dcy;&ncy;&ocy;&jcy; &lcy;&acy;&mcy;&pcy;&iecy;
          li#menu-item-200.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-200.nav-list__item
            a.nav-list__link(href='#') &Pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ycy; &scy; &vcy;&lcy;&acy;&gcy;&ocy;&zcy;&acy;&shchcy;&icy;&shchcy;&iecy;&ncy;&ncy;&ycy;&mcy; &kcy;&ocy;&rcy;&pcy;&ucy;&scy;&ocy;&mcy; (IP54-IP65)
    li#menu-item-203.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-has-children.menu-item-203.nav-list__item
      a.nav-list__link(href='#') &Scy;&vcy;&iecy;&tcy;&ocy;&dcy;&icy;&ocy;&dcy;&ncy;&ycy;&iecy; &pcy;&rcy;&ocy;&zhcy;&iecy;&kcy;&tcy;&ocy;&rcy;&ycy;
      .sub-menu-wrap.sub-menu-wrap_level-2
        ul.sub-menu.sub-menu_level-2
          li#menu-item-204.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-204.nav-list__item
            a.nav-list__link(href='#') &Kcy;&lcy;&acy;&scy;&scy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &pcy;&rcy;&ocy;&zhcy;&iecy;&kcy;&tcy;&ocy;&rcy;&ycy; LED PAR
          li#menu-item-205.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-205.nav-list__item
            a.nav-list__link(href='#') &Pcy;&rcy;&ocy;&zhcy;&iecy;&kcy;&tcy;&ocy;&rcy;&ycy; LED PAR c &rcy;&iecy;&gcy;&ucy;&lcy;&icy;&rcy;&ucy;&iecy;&mcy;&ycy;&mcy; &ucy;&gcy;&lcy;&ocy;&mcy; &rcy;&acy;&scy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy; &lcy;&ucy;&chcy;&acy; (ZOOM)
          li#menu-item-210.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-210.nav-list__item
            a.nav-list__link(href='#') &Pcy;&rcy;&ocy;&zhcy;&iecy;&kcy;&tcy;&ocy;&rcy;&ycy; &scy; &ucy;&lcy;&softcy;&tcy;&rcy;&acy;&pcy;&lcy;&acy;&vcy;&ncy;&ycy;&mcy; &laquo;&Tcy;&IEcy;&Acy;&Tcy;&Rcy;&Acy;&Lcy;&SOFTcy;&Ncy;&Ycy;&Mcy;&raquo; &dcy;&icy;&mcy;&mcy;&iecy;&rcy;&ocy;&mcy;
          li#menu-item-206.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-206.nav-list__item
            a.nav-list__link(href='#') &Pcy;&rcy;&ocy;&zhcy;&iecy;&kcy;&tcy;&ocy;&rcy;&ycy; &Bcy;&IEcy;&Lcy;&Ocy;&Gcy;&Ocy; &scy;&vcy;&iecy;&tcy;&acy;
          li#menu-item-207.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-207.nav-list__item
            a.nav-list__link(href='#') &Pcy;&rcy;&ocy;&zhcy;&iecy;&kcy;&tcy;&ocy;&rcy;&ycy; &lcy;&icy;&ncy;&iecy;&jcy;&ncy;&ycy;&iecy; &tcy;&icy;&pcy;&acy; LED BAR
          li#menu-item-211.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-211.nav-list__item
            a.nav-list__link(href='#') &Pcy;&rcy;&ocy;&zhcy;&iecy;&kcy;&tcy;&ocy;&rcy;&ycy; &ucy;&lcy;&softcy;&tcy;&rcy;&acy;&fcy;&icy;&ocy;&lcy;&iecy;&tcy;&ocy;&vcy;&ocy;&gcy;&ocy; &scy;&vcy;&iecy;&tcy;&acy;
          li#menu-item-208.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-208.nav-list__item
            a.nav-list__link(href='#') &Pcy;&rcy;&ocy;&zhcy;&iecy;&kcy;&tcy;&ocy;&rcy;&ycy; &scy; &Acy;&Kcy;&Kcy;&Ucy;&Mcy;&Ucy;&Lcy;&YAcy;&Tcy;&Ocy;&Rcy;&Ncy;&Ycy;&Mcy;&Icy; &bcy;&acy;&tcy;&acy;&rcy;&iecy;&yacy;&mcy;&icy;
          li#menu-item-209.menu-item.menu-item-type-taxonomy.menu-item-object-product_cat.menu-item-209.nav-list__item
            a.nav-list__link(href='#') &Pcy;&rcy;&ocy;&zhcy;&iecy;&kcy;&tcy;&ocy;&rcy;&ycy; &scy; &Vcy;&Lcy;&Acy;&Gcy;&Ocy;&Zcy;&Acy;&SHCHcy;&Icy;&SHCHcy;&IEcy;&Ncy;&Ncy;&Ycy;&Mcy; &kcy;&ocy;&rcy;&pcy;&ucy;&scy;&ocy;&mcy; (IP65)
