+b.b-cart-row_footer
  //  +e.price_in-footer
  //    p 
  //      span.title Цена
  //      span.value 

  +e.total-price_in-footer
    p 
      span.title Стоимость 
      span.value 80 000
      span.sign  руб
  +e.actions_in-footer
    +e.A(href="#").submit.btn_green Оформить заказ
  