+b.c-cart-page.row
  +e.container.container
    +b.c-cart
      include b-cart-header.pug
      +b.b-cart-items
        include b-cart-item.pug
        include b-cart-item.pug
      include b-cart-footer.pug