+b.SECTION.categories
    +e.title
        h3.lite КАТАЛОГ
    
    +e.container.container
    
        
    
        +category-item('p1.jpg', 'прожекторы <br>следящего света')
        +category-item('p2.jpg', 'Вращающиеся <br>головы')
        +category-item('p3.jpg', 'светодиодные <br>прожекторы')
        +category-item('p4.jpg', 'театральный <br>свет')
        +category-item('p5.jpg', 'световые эффекты')
        +category-item('p6.jpg', 'блайндеры <br>и строоскопы')
        +category-item('p7.jpg', 'управление световыми <br>приборами')
        +category-item('p8.jpg', 'dmx-распределение')
        +category-item('p9.jpg', 'струбцины')
        +category-item('p10.jpg', 'коммутация, кабели <br>и разъемы')
        +category-item('p11.jpg', 'генераторы <br>спецэффектов')
        +category-item('p12.jpg', 'сценическое <br>оборудование')

        