+b.SECTION.purchase.row
    +e.container.container
        +e.info-wrpr
            +e.H2.title МЫ УЧАСТВУЕМ В ГОС. ЗАКУПКАХ
            +e.H4.sub-title И РАБОТАЕМ ПО 44-ФЗ
            +e.A(href="#").link.btn_bordered ПОДРОБНЕЕ

        +e.img-wrpr
            +e.IMG(src="").img